/*Arquivo da aula CSS-EXTERNO.HTML*/

.vermelho {
	color: red;
}

#cabecalho {
	background-color: grey;
}

body {
	background-color: #000000;
	background-image: url(../imagens/yoshi.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center bottom;
}