#area-lateral {
	float: right;
	width: 240px;
}

.postagem-lateral {
	margin-bottom: 20px;
}

.texto-lateral {
	background-color: #FFF;
	font-size: 0.8em;
	padding: 5px;
	border-bottom: 1px solid #CCC;
}