#area-principal {
	width: 920px;
	margin: 0px auto;
	padding: 15px;
}

#area-postagens {
	width: 620px;
	float: left;
}

#rodape {
	text-align: center;
	clear: both;
	background-color: #CCC;
	padding: 15px;
}

.postagens {
	background-color: #FFF;
	padding: 20px;
	margin-bottom: 15px;
}

.data-postagem {
	font-size: 0.8em;
	border-bottom: 1px solid #F4F4F4;
	display: block;
	padding-bottom: 10px;
	margin-bottom: 10px;
}