#area-cabecalho {
	background-color: #f7b600;
	padding: 15px;
	text-align: center;
}

#area-logo, #area-menu {
	padding: 10px;
}

#area-menu a {
	text-decoration: none;
}

#area-menu a:link, #area-menu a:visited {
	color: #FFF;
	padding: 8px 12px;
}

#area-menu a:hover {
	color: #f7b600;
	background: #FFF;
}