body {
	background: #f4f4f4;
}

#principal {
	width: 950px;
	border: 1px solid red;
	margin: 7px;
}

.noticia {
	background: gray;
	float: left;
	padding: 5px;
	width: 290px;
}

.foto {
	float: left;
	padding: 15px;
}

.clear {
	clear: both;
}