#principal {
	border: 5px solid red;
	background-color: gray;
}

.conteudo {
	border: 2px solid red;
	width: 420px;
	height: 180px;
	margin: 9px;
	background-color: green;
	/*Tipos de float: left-Esquerda right-Direita none-Nenhum*/
	float: left;
}

.limpar {
	/*Valores do clear: left-Esquerda, right-Direita, both-Ambos, none-Nenhum*/
	clear: both;
}