a {
	padding: 10px;
	text-decoration: none;
}

/*Links nao visitados*/
a:link {
	color: red;
}

/*Links visitados*/
a:visited {
	color: green;
}

/*Links Hover, passa o cursor sobre o link*/
a:hover {
	color: pink;
	background: grey;
}

/*Links ativos, quando clicado(segurado)*/
a:active {
	color: blue;
}

/*Seguindo esta ordem*/