#paddingg {
/*	padding: 20px 15px 10px 5px; */
	padding-top: 20px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 5px;
	border: 2px solid red;
	width: 200px;

	/*Colapso é quando tem duas margens e a maior fica como valor principal

	Como o valor é 30px o margin-top ira ficar como 30px de margem*/

	margin-bottom: 30px;
}

#marginn {
/*	margin: 20px 15px 10px 5px; */
	margin-top: 20px;
	margin-right: 15px;
	margin-bottom: 10px;
	margin-left: 5px;
	border: 2px solid blue;
	width: 200px
}

