p {
	font-size: 18.5px;
	width: 380px;
	padding: 10px;
	margin: 10px
}

body {
	background: #6699ff;
}

#principal {
	background-color: #FFF;
	width: 900px;
	margin: 20px auto;
	position: rela
}

.static {
	/*Baseado no container*/
	border: 2px solid green;
	position: absolute;
	top: 0px;
	right: 0px;
	/*Valores TOP, RIGHT, LEFT, BOTTOM*/

	/*
	top: 20px;
	right: 20px
	bottom: 20px;
	left: 20px;
	*/
}

.fixed {
	/*Baseado na janela do navedagor*/
	border: 2px solid green;
	position: fixed;
	margin: 0px;
	bottom: 0px;
	right: 0px;
}