p {
	font-size: 18.5px;
	width: 380px;
	padding: 10px;
	margin: 10px
}

body {
	background: #6699ff;
}

#principal {
	background-color: #FFF;
	width: 900px;
	margin: 20px auto;
}

.relative {
	border: 2px solid green;
	position: relative;
	/*Valores TOP, RIGHT, LEFT, BOTTOM*/

	/*
	top: 20px;
	right: 20px
	bottom: 20px;
	left: 20px;
	*/
}