
/*z-index: Quanto maior o valor, sera o primeiro a aparecer na ordem!*/

.conteudo {
	background-color: green;
	width: 200px;
	height: 200px;
	position: absolute;
	z-index: 2;
}

.conteudo2 {
	background-color: gray;
	width: 200px;
	height: 200px;
	position: absolute;
	top: 80px;
	left: 80px;
	z-index: 1;
}

.conteudo3 {
	background-color: yellow;
	width: 200px;
	height: 200px;
	position: absolute;
	top: 160px;
	left: 160px;
	z-index: 1;
}

/*Quando o valor se repete sera mostrado os elementos 
conforme a ordem no codigo HTML*/